body {
    background-color: gainsboro;
    margin: 0px;
}

.one{
    background-color: black;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: large;
}

ul {
    color: white;
    list-style: none;
    padding: 15px; 
    margin: 0; 
    background-color: black;
}

li {
    display: inline;
    margin: 15px;
}

li a {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 5px 0; /* Add padding for spacing */
}

li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

li a:hover::before {
    visibility: visible;
    width: 100%;
}

li a:hover {
    color: white; /* Ensure color stays white on hover */
}

.para {
    font-size: xx-large;
    font-weight: bold;
    margin-left: 40px;
}

.text {
    margin-left: 40px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.para2{
    margin-left: 40px;
    text-justify: auto;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.btn {
    margin: 40px;
    padding: 10px 20px;
    /* Padding inside the button */
    background-color: #212529;
    /*Button background color */
    color: #c1d3fe;
    /* Button text color */
    border: none;
    /*Remove button border */
    /* cursor: pointer; */
    /* Change cursor on hover */
    border-radius: 8px;
    /*Add rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /*Add shadow */
    transition: background-color 0.3s ease, box-shadow 0.5s ease;
    /* Smooth transition */
}

.btn:hover {
    background-color: #c1d3fe;
    /*Change background color on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    /*Enhance shadow on hover */
}

a {
    color: #c1d3fe;
    text-decoration: none;
}

a:hover {
    color: #212529;
}